<nav id="nav-primary" class="site-nav " itemscope itemtype="http://schema.org/SiteNavigationElement" aria-label="Main navigation">
  <ul id="menu-main-navigation" class="menu row">
    <!-- Home link -->
    <li class="menu-item col">
      <a href="{{ '/' | relative_url }}" itemprop="url">
        <span itemprop="name">{{ site.data.theme.t.home | default: 'Home' }}</span>
      </a>
    </li>

    <!-- site.pages links -->
    {% assign default_paths = site.pages | map: "path" %}

    {% for path in default_paths %}
      {% assign my_page = site.pages | where: "path", path | last %}
      {% if my_page.title %}
        <li class="menu-item col">
          <a href="{{ my_page.url | relative_url }}" itemprop="url">
            <span itemprop="name">{{ my_page.title | escape }}</span>
          </a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</nav>
