/* ==========================================================================
   Layout
   ========================================================================== */

   header {
   margin: 2em 0;
   }

   .slider {
     margin: 0 auto;
     max-width: 940px;
   }

   .slide_viewer {
     height: 340px;
     overflow: hidden;
     position: relative;
   }

   .slide_group {
     height: 100%;
     position: relative;
     width: 100%;
   }

   .slide {
     display: none;
     height: 100%;
     position: absolute;
     width: 100%;
   }

   .slide:first-child {
     display: block;
   }

   .slide:nth-of-type(1) {
     background: #D7A151;
   }

   .slide:nth-of-type(2) {
     background: #F4E4CD;
   }

   .slide:nth-of-type(3) {
     background: #C75534;
   }

   .slide:nth-of-type(4) {
     background: #D1D1D4;
   }

   .slide_buttons {
     left: 0;
     position: absolute;
     right: 0;
     text-align: center;
   }

   a.slide_btn {
     color: #474544;
     font-size: 42px;
     margin: 0 0.175em;
     -webkit-transition: all 0.4s ease-in-out;
     -moz-transition: all 0.4s ease-in-out;
     -ms-transition: all 0.4s ease-in-out;
     -o-transition: all 0.4s ease-in-out;
     transition: all 0.4s ease-in-out;
   }

   .slide_btn.active, .slide_btn:hover {
     color: #428CC6;
     cursor: pointer;
   }

   .directional_nav {
     height: 340px;
     margin: 0 auto;
     max-width: 940px;
     position: relative;
     top: -340px;
   }

   .previous_btn {
     bottom: 0;
     left: 100px;
     margin: auto;
     position: absolute;
     top: 0;
   }

   .next_btn {
     bottom: 0;
     margin: auto;
     position: absolute;
     right: 100px;
     top: 0;
   }

   .previous_btn, .next_btn {
     cursor: pointer;
     height: 65px;
     opacity: 0.5;
     -webkit-transition: opacity 0.4s ease-in-out;
     -moz-transition: opacity 0.4s ease-in-out;
     -ms-transition: opacity 0.4s ease-in-out;
     -o-transition: opacity 0.4s ease-in-out;
     transition: opacity 0.4s ease-in-out;
     width: 65px;
   }

   .previous_btn:hover, .next_btn:hover {
     opacity: 1;
   }

.canvas {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.container {
  max-width: 43em;
margin-left: auto;
margin-right: auto;
margin: 0 auto;
height: 100%;
position: relative;
padding: 0 2.55555em;
overflow: hidden;
}

.logo {
    display: block;
    margin: 1em auto;
}

.subtext {
  width: 250px;
  margin: 0 auto;
  padding: 15px 0 ;
  border-top: 1px solid #c25e45;
  border-bottom: 1px solid #c25e45;
  h3 {
    margin: 0;
  }
}

.background-image {
  max-width: 100%;
  margin-top: 0;
  width: 100%;

  @media (max-width: 480px) {
  height: 330px;
  }
}

.landing {
    margin: 5% 0;
  h1 {
    color: #6cb3b7;
    text-align: center;
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: normal;

  }

  h2 { 
  text-align:center;
  font-family: 'PT Sans Narrow', sans-serif;
    font-weight: normal;

    }

  p {
    text-align: center;
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: normal;
    color: #6cb3b7;
    margin: 1em;
  }

  .pbird-nashville {
    border-top: 1px solid #c25e45;
    border-bottom: 1px solid #c25e45;
    padding: 1em 0 0;
    margin-bottom:3em;

    h3{
      text-align: center;
      font-family: 'PT Sans Narrow', sans-serif;
      font-weight: normal;
      color: #6cb3b7;
    }
  }


}

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  transform: translateX(0);
  transition: $global-transition;
  z-index: 100;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;

}

.row {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.inner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background:white;
  max-width: 48em;
margin: 0 auto;
  padding-right: 4em;
padding-left: 4em;
padding-top:4em;
}

.inner-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  max-width: 15em;
margin: 0 auto;
  padding-right: 2em;
padding-left: 2em;
@media (max-width: 480px) {
  max-width: 15em;

}
}




main {

  section {
    @include container;
  }
}

.col {
  flex: 1 1 8%;
  margin: 0 0 0.5rem 0;
  padding: 0.5em 10px;
  box-sizing: border-box;
}

#tacos {
  fill: #6eb3b7;
  animation: dance .4s  alternate ;
  animation-iteration-count: 5;
}

@keyframes dance {
  0% {
    opacity: 0;
   }
   100% {
      opacity: 1;
   }
}

#pb {
  animation-duration: 2s;
 animation-name: slidein;
 animation-iteration-count: 1;
}

@keyframes slidein {
  0% {
    opacity: 0;
   }

   100% {
      opacity: 1;
   }
}

/*
   Layout specific adjustments
   ========================================================================== */

.layout--post,
.layout--page {

.menu-item  {
  flex-basis: 8.3333%;
  text-align: center;
  list-style: none;
}

  .menu-wrap,  .title-area {

 flex-basis: 100%;

  h2 {
      color: #d9775b;
      border-bottom: 1px solid #d9775b;
      padding-bottom: 10px;
  }
  }

    .entry-content {
      margin: 3em 0 ;
      text-align:center;

      flex-basis: 100%;
      @media (max-width: 480px) {
        flex-basis: 100%;
        margin: 1em 0;
      }
    }

    .entry-operation {
      margin: 3em 0 ;
      flex-basis: 18.333%;
      padding: 0 1em;
      @media (max-width: 480px) {
        flex-basis: 100%;
        margin: 0;

      }
    }


  .menu-wrap {
    padding: 0 0 2em;
  }


.contact-wrap {
  flex-basis: 41.6666%;
  margin-right: 2em;
  margin-top: 2em;
  a {
      flex-basis: 100%;
      margin: 10px;
  }
}

.contact-map {
  flex-basis: 50%;
  margin-top: 2em;

}
    .team-image {
      margin-top: 2em;
        flex-basis: 25%;
        @media (max-width: 480px) {
          flex-basis: 100%;
        }

      img {
        border-radius: 50%;
        max-width: 150px;
        @media (max-width: 480px) {
        max-width: 100%;
        border-radius: 0;
        }
      }

    }
    .team-content {
      margin-top: 2em;

        flex-basis: 66.6666%;

    }

    .pb-insta {
       flex-basis: 33.3333%;
           margin: 2em 0;

           @media (max-width: 480px) {
             flex-basis: 100%;
             margin: 0 0 1em ;
           }
    }
}

.layout--about {

  .entry-wrap {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;


    @include breakpoint($medium) {
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
    }
  }

  .entry-content {

    @include breakpoint($medium) {
      -ms-flex: 1;
      flex: 1;
    }
  }

  .entry-sidebar {
    order: -1;
    -ms-flex-order: -1;

    @include breakpoint($medium) {
      order: initial;
      -ms-flex-order: initial;
    }

    .author-picture {
      margin: 0 0 2rem;
      border-radius: 2 * $border-radius;

      @include breakpoint($medium) {
        margin: 0 0 0 2rem;
      }
    }
  }
}

.layout--cv {

  .entries {

    .entry-header {

      @include breakpoint($medium) {
        @include span(5 of 16);
        @include suffix(1 of 16);

        /* remove space after last child element */
        > *:last-child {
          margin-bottom: 0;
        }
      }
    }

    .entry-content {
      @include breakpoint($medium) {
        @include span(11 of 16 last);
      }
    }
  }

  .entry {

    a {
      color: $accent-color;
    }

    address {
      font-style: normal;
    }

    .title,
    .position,
    .institution,
    .language {
      margin-bottom: 0;
    }

    .date {
      margin-bottom: 1rem;
      color: tint($text-color, 40%);
      font-family: $monospace-font-family;
      font-size: 80%;
    }

    .courses-title,
    .awarder,
    .publisher,
    .level {
      margin: 1rem 0 0;
    }

    .courses,
    .keywords {
      @include list-unstyled;
    }
  }

  .taxonomy {

    + .taxonomy {
      margin-top: 0.5rem;
    }

    .title {
      display: inline-block;
      margin-right: 1rem;
    }

    .keywords {
      display: inline-block;
    }
  }
}
