/* ==========================================================================
   Layout
   ========================================================================== */

.canvas {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.container {
  max-width: 43em;
margin-left: auto;
margin-right: auto;
margin: 0 auto;
height: 100%;
position: relative;
padding: 0 2.55555em;
overflow: hidden;
}

.logo {
      margin: 0em 39%;
}

.subtext {
  width: 250px;
  margin: 0 auto;
  padding: 15px 0 ;
  border-top: 1px solid #c25e45;
  border-bottom: 1px solid #c25e45;
  h3 {
    margin: 0;
  }
}

.background-image {
  background: url(/uploads/13183369_227174074336172_507729273_n.jpg);
  background-size: cover;
  background-attachment: scroll;
  max-width: 100%;
  height: 445px;
  margin-top: 30px;
}

.landing {
    margin: 33% 0;
  h1 {
    color: #6cb3b7;
    text-align: center;
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: normal;

  }

  P {
    text-align: center;
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: normal;
    color: #6cb3b7;
    margin-top: 4em;
  }

  .pbird-nashville {
    border-top: 1px solid #c25e45;
    border-bottom: 1px solid #c25e45;
    padding: 1em 0 0;

    h3{
      text-align: center;
      font-family: 'PT Sans Narrow', sans-serif;
      font-weight: normal;
      color: #6cb3b7;
    }
  }


}

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  transform: translateX(0);
  transition: $global-transition;
  background-color: $background-color;
  z-index: 100;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;

}

.row {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.inner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  max-width: 53em;
margin: 0 auto;
  padding-right: 2em;
padding-left: 2em;
}


main {

  section {
    @include container;
  }
}

.col {
  flex: 1 1 8%;
  margin: 0 0 0.5rem 0;
  padding: 0.5em 10px;
  box-sizing: border-box;
}

/*
   Layout specific adjustments
   ========================================================================== */

.layout--post,
.layout--page {

.menu-item  {
  flex-basis: 8.3333%;
  text-align: center;
  list-style: none;
}

  .menu-wrap, .entry-wrap, .title-area {
    text-align: center;

 flex-basis: 100%;
  }

  .entry-wrap {
    margin-top: 3em;
  }

  .menu-wrap {
    border-bottom: 1px solid #6EB3B7;
    padding-bottom: 2em;
  }


.contact-wrap {
  flex-basis: 41.6666%;
  margin-right: 2em;
  margin-top: 2em;
  a {
      flex-basis: 100%;
      margin: 10px;
  }
}

.contact-map {
  flex-basis: 50%;
  margin-left: 2em;
  margin-top: 2em;

}
    .team-image {
      margin-top: 2em;
        flex-basis: 25%;

      img {
        border-radius: 50%;
        max-width: 150px;
      }

    }
    .team-content {
      margin-top: 2em;

        flex-basis: 66.6666%;

    }

    .pb-insta {
       flex-basis: 33.3333%;
           margin: 2em 0;
    }
}

.layout--about {

  .entry-wrap {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;


    @include breakpoint($medium) {
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
    }
  }

  .entry-content {

    @include breakpoint($medium) {
      -ms-flex: 1;
      flex: 1;
    }
  }

  .entry-sidebar {
    order: -1;
    -ms-flex-order: -1;

    @include breakpoint($medium) {
      order: initial;
      -ms-flex-order: initial;
    }

    .author-picture {
      margin: 0 0 2rem;
      border-radius: 2 * $border-radius;

      @include breakpoint($medium) {
        margin: 0 0 0 2rem;
      }
    }
  }
}

.layout--cv {

  .entries {

    .entry-header {

      @include breakpoint($medium) {
        @include span(5 of 16);
        @include suffix(1 of 16);

        /* remove space after last child element */
        > *:last-child {
          margin-bottom: 0;
        }
      }
    }

    .entry-content {
      @include breakpoint($medium) {
        @include span(11 of 16 last);
      }
    }
  }

  .entry {

    a {
      color: $accent-color;
    }

    address {
      font-style: normal;
    }

    .title,
    .position,
    .institution,
    .language {
      margin-bottom: 0;
    }

    .date {
      margin-bottom: 1rem;
      color: tint($text-color, 40%);
      font-family: $monospace-font-family;
      font-size: 80%;
    }

    .courses-title,
    .awarder,
    .publisher,
    .level {
      margin: 1rem 0 0;
    }

    .courses,
    .keywords {
      @include list-unstyled;
    }
  }

  .taxonomy {

    + .taxonomy {
      margin-top: 0.5rem;
    }

    .title {
      display: inline-block;
      margin-right: 1rem;
    }

    .keywords {
      display: inline-block;
    }
  }
}
