<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en-US' }}" class="no-js">
  {% include head.html %}

  <body class="layout--{{ page.layout | default: layout.layout }}{% if page.classes or layout.classes %}{{ page.classes | default: layout.classes | join: ' ' | prepend: ' ' }}{% endif %} {{ page.title | slugify }}">


    <div class="canvas">
      <div class="wrapper">
        {% include masthead.html %}
        {{ content }}
      </div>
    </div>

    {% include scripts.html %}

  </body>

</html>
