---
layout: default
---

<main id="main" class="page-content" aria-label="Content">

  <div class="inner">

    <div class="background-image">
        <img src="{{site.asset}}" alt="">
    </div>

      <div class="entry-content col">
        {{ content }}
      </div>

   


    <article class="menu-wrap col">
        <h2>Menu</h2>
        {% for Menu in site.menu %}
          <div class="menu-content">
            <p>{{Menu.title}} <span>{{Menu.price}}</span></p>
            <p>{{Menu.content}}</p>
          </div>
        {% endfor %}
        <h2>Combo Plates</h2>
        {% for combo-plates in site.combo-plates %}
          <div class="menu-content">
            <p>{{combo-plates.title}} <span>{{combo-plates.price}}</span></p>
            <p>{{combo-plates.content}}</p>
          </div>
        {% endfor %}

    </article>


        


  </div>
  {% include footer.html %}

</main>
