---
layout: default
---

<main id="main" class="page-content" aria-label="Content">
  <div class="background-image"> </div>
  <div class="inner">
    <article class="entry-wrap">
      <div class="entry-content">
        {{ content }}
      </div>

    </article>

    <article class="menu-wrap">
        <h2>Menu</h2>
        {% for Menu in site.menu %}
          <div class="menu-content">
            <p>{{Menu.title}}</p>
            <p>{{Menu.content}}</p>
          </div>
        {% endfor %}

    </article>

    <article class="team-wrap">
        {% for Team in site.team %}
            <img src="{{Team.image}}" alt="{{Team.title}}">
            <div class="team-content">

            <p>{{Team.title}}</p>
            <p>{{Team.content}}</p>
          </div>
        {% endfor %}

    </article>




    {% include footer.html %}
  </div>
</main>
